<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Tailwind Basics: Flexbox</title>
</head>
<body>
  <!-- centering -->
  <div class="flex justify-center items-center bg-green-700 h-64">
    <h2 class="text-4xl text-green-100">Centered!</h2>
  </div>

  <!-- navigation -->
  <div class="bg-gray-300 p-10 flex justify-between">
    <div>logo</div>
    <div>navigation</div>
  </div>

  <!-- creating a columns section -->
   <div class="bg-yellow-500 p-10 md:flex md:space-x-8 space-y-4 md:space-y-0">
    <div class="flex-grow bg-white p-2">hello</div>
    <div class="flex-grow bg-white p-2">hello</div>
    <div class="flex-grow bg-white p-2">hello</div>
   </div>
  <!-- sidebar -->
  
</body>
</html>