<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Tailwind Basics: Main Concepts</title>
</head>
<body>
  <!-- spacing -->
  <div class="p-20">
    <h2 class="mb-4">Spacing Section</h2>
    <p class="mb-4">Tailwind helps us space things out with margin and padding.</p>

    <button class="mr-3 py-2 px-4">Learn More</button>
    <button class="py-2 px-8">Sign Up</button>
  </div>


  <!-- box properties -->

  <!-- sizing & numbering -->

  <!-- typography -->

  <!-- colors -->

  <!-- pseudo classes -->

  <!-- transitions & transforms -->

  <!-- animations -->

  <link  rel="stylesheet" href="style.css"/>
</body>
</html>