<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://cdn.tailwindcss.com"></script>
  <title>Tailwind Basics: Main Concepts</title>
  <style>
    * {
      border: 1px solid red;
    }
  </style>
</head>
<body>
  <!-- spacing -->
  <h2 class="my-3">Spacing Section</h2>
  <p>Tailwind helps us space things out with margin and padding.</p>
  

  <!-- box properties -->

  <!-- sizing & numbering -->

  <!-- typography -->

  <!-- colors -->

  <!-- pseudo classes -->

  <!-- transitions & transforms -->

  <!-- animations -->

</body>
</html>