<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Tailwind Intro</title>
</head>
<body>
  <div class="">
    <img 
      class="" 
      src="https://tailwindcss.com/_next/static/media/sarah-dayan.de9b3815.jpg"
      alt="avatar" />
    <div class="">
      <h2 class="">Erin Lindford</h2>
      <div class="">Product Engineer</div>
      <div class="">erinlindford@example.com</div>
      <div class="">(555) 765-4321</div>
    </div>
  </div>
  
</body>
</html>